<section class="section-login">
  <div class="apresentation">
    <div class="apresentation-title">
      <h1>Great Projects</h1>
      <h1>needs Great</h1>
      <h1>Hearts & Passion</h1>
    </div>
  </div>
  <div class="div-form-login">
    <div class="form-text">
      <p>If you have the requirements,</p>
      <p>start a section or <span class="blue">register</span></p>
    </div>
    <form action="">
      <input class="insertable" type="email" name="" id="" placeholder="Email" required>
      <input class="insertable" type="password" name="" id="" placeholder="Password" required>
      <div class="checkbox">
        <div class="box-container">
          <div class="box">

          </div>
        </div>
        <div class="checkbox-text">
          Keep me logged-in
        </div>
      </div>
      <input class="clickable" type="submit" value="Login">
    </form>
  </div>
</section>
