/* You can add global styles to this file, and also import other style files */

a{
  text-decoration: none;
}
*{
  font-family: 'Outfit';
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background: #ededed;
}

ul{
  list-style: none;
}
